body {
	background: #fff;
	color: #606060;
	font-size: 15px;
	line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	color: #7abf23;
	font-size: 55px;
	margin-top: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
}

h2 {
	color: #0a253e;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 20px;
	text-transform: none;
}

p {
	margin-top: 0;
	margin-bottom: 10px;
}

.wp-block-post-featured-image img {
	border-radius: 0;
}

body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
}

:where(body .is-layout-flex) {
	gap: 3rem;
}

a:where(:not(.wp-element-button)) {
	color: #0a253e;
	font-weight: bold;
	text-decoration: none;
}

a:where(:not(.wp-element-button)):hover {
	color: #767676;
}

.has-global-padding {
	padding-left: 0;
	padding-right: 0;
}

.wp-site-blocks main .wp-block-post-featured-image {
	margin-bottom: 0 !important;
}

.wp-site-blocks main .entry-content {
	margin: 0;
	max-width: none;
	padding: 0;
}

.wp-site-blocks main .entry-content .wp-block-group {
	margin-bottom: 70px;
	padding: 0 30px;
}

.wp-site-blocks main .entry-content .wp-block-group:first-child {
	background: #0a253e;
	padding-top: 50px;
	padding-bottom: 50px;
}

.wp-site-blocks main .entry-content .wp-block-group:first-child h1,
.wp-site-blocks main .entry-content .wp-block-group:first-child p {
	margin-left: auto;
	margin-right: auto;
	max-width: 857px;
}

.wp-site-blocks main .entry-content .wp-block-group:first-child p {
	color: #fff;
}

.wp-site-blocks main .entry-content .wp-block-group:nth-child(2) .is-layout-flex {
	gap: 6rem;
}

.wp-site-blocks main .entry-content .wp-block-group:not(:first-child) {
	border-bottom: 5px solid #e2e2e2;
	margin: 0 auto 50px auto;
	max-width: 920px;
	padding-bottom: 50px;
}

.wp-site-blocks main .entry-content .wp-block-group:last-child {
	border-bottom: 0;
}

.wpcf7-form br {
	display: none;
}

.wpcf7-form .form-field {
	margin-bottom: 10px;
}

.wpcf7-form .form-field label {
	display: block;
}

.wpcf7-form .form-field .wpcf7-text,
.wpcf7-form .form-field .wpcf7-email {
	background: #fff;
	border:  1px solid #e8e8e8;
	border-radius: 0;
	box-sizing: border-box;
	color: inherit;
	display: block;
	font-family: inherit;
	font-size: inherit;
	padding: 10px;
	width: 100%;
}

.wpcf7-form .form-field .wpcf7-list-item {
	display: block;
	margin: 0;
}

.wpcf7-form .form-field .wpcf7-list-item label {
	cursor: pointer;
	display: inline-block;
}

.wpcf7-form .wpcf7-submit {
	background: #00326f;
	border: 2px solid #00326f;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: inherit;
	font-weight: bold;
	line-height: 1;
	padding: 20px;
}

.wpcf7-form .wpcf7-submit:hover {
	background: #fff;
	color: #00326f;
}

.wpcf7 form .wpcf7-response-output {
	margin: 30px 0 0 0;
	padding: 10px 15px;
}